body {
    background-color: rgb(19, 19, 19);
}

p {
    color: white;
    font-family: "Inconsolata";
    margin: auto;
    text-align: center;
}

.header {
    font-size: 35px;
}

.date {
    font-size: 25px;
    transform: skew(-5deg);
}

.section {
    font-size: 20px;
    font-weight: bold;
    transform: skew(-5deg);
}

.updText {
    font-size: 15px;
}

.updQuote {
    font-size: 20px;
    opacity: 50%;
}
